@import "../../../Style/variable";
@import "../../../Style/media";



.item-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;

  @include smallMonitor {
    grid-template-columns: repeat(2, 1fr);
  }

  @include laptop {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .item-container {
    max-width: 400px;
    min-width: 200px;

    @include laptop {
      max-width: 600px;

      min-width: 300px;
    }

    .cart-image-container {
      position: relative;

      .btn-cart {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-61%, 25%);
        @include laptop {
          transform: translate(-50%, 25%);
        }

        button {
          display: flex;
          align-items: center;
          justify-content: space-around;
          img {
            width: 20px;
          }
          padding: 10px;
          width: 160px;
          border-radius: 10px;
          cursor: pointer;
          border: 1px solid $Red;
          color: $Rose900;

          &:hover {
            color: $Red;
          }
        }

        .cartAddDelete {
          background-color: $Red;
          color: $Rose100;
          justify-content: space-between;
          border: none;

          &:hover {
            color: $Rose100;
          }

          img {
            width: 20px;
            border: 1px solid $Rose100;
            padding: 5px;
            border-radius: 50%;
            height: 20px;

            &:hover {
              background-color: $Rose100;
              filter: grayscale(100%);
            }
          }
        }
      }
    }
  }

  .cart-image-container {
    img {
      width: 100%;
      max-width: 250px;
      border-radius: 10px;

      @include laptop {
        max-width: 450px;
        object-fit: cover;
      }
    }
    margin: 25px 0;
  }

  .cart-details-container {
    .category {
      color: $Rose400;
      font-weight: 400;
    }
    .name {
      color: $Rose900;
      font-weight: 700;
    }
    .price {
      color: $Red;
      font-weight: 400;
    }
  }
}
