@import "./variable";
@import "./media";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

body {
  max-width: 1440px;
  height: 100vh;
  font-size: 16px;
  background-color: $Rose100;
  margin: 60px;
  font-family: $fontRedHAtText;
  @include laptop {
    margin: 10px;
  }
}

.App {
  .main-container {
    display: flex;

    @include laptop {
      flex-direction: column;
    }

    .item-list-container {
      flex: 2;

      @include laptop {
        flex: 1;
      }
    }

    .cart-item-container {
      flex: 1;
    }
  }
}
