@import "./variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

body {
  max-width: 1440px;
  height: 100vh;
  font-size: 16px;
  background-color: $Rose100;
  margin: 60px;
  font-family: $fontRedHAtText;
}

.App {
  .main-container {
    display: flex;

    .item-list-container {
      flex: 2;
    }

    .cart-item-container {
      border: 1px solid blue;
      flex: 1;
    }
  }
}
